<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/" translate>APP_NAME</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>About</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/todo" routerLinkActive="active">
          <i class="fas fa-check-square"></i>
          <span translate>Todos</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/counter" routerLinkActive="active">
          <i class="fas fa-toolbox"></i>
          <span translate>Counter</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/fetch-data" routerLinkActive="active">
          <i class="fas fa-toolbox"></i>
          <span translate>Fetch data</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector>
        <app-login-menu></app-login-menu>

        <div class="nav-item" ngbDropdown *ngIf="isAuthenticated | async">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink="/authentication/profile" title="Profile" translate
              >Hello {{ username }}</a
            >
            <a
              class="dropdown-item"
              (click)="logout()"
              routerLink="/authentication/logout"
              state="{ local: true }"
              title="Logout"
              translate
              >Logout</a
            >
          </div>
        </div>
        <div class="nav-item" ngbDropdown *ngIf="!(isAuthenticated | async)">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <!-- <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{ username }}</b>
            </h6> 
            <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink="/authentication/register" title="Register" translate>Register</a>
            <a class="dropdown-item" (click)="login()" routerLink="/authentication/login" title="Login" translate
              >Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
