@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- needs to be right at the top to prevent Chrome from reloading favicon on every route change -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>@ViewData["Title"] - WebUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#4e8ef7" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
            integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
            asp-fallback-href="~/lib/fortawesome/css/all.min.css"
            crossorigin="anonymous">
    </environment>
</head>
<body>
    <!--[if lt IE 10]>
      <p>
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <noscript>
        <p>This page requires JavaScript to work properly. Please enable JavaScript in your browser.</p>
    </noscript>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="~/">WebUI</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar-menu" class="collapse navbar-collapse float-xs-none">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-uppercase" href="~/home">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                    <a class="nav-item nav-link text-uppercase" href="~/about">
                        <i class="fas fa-question-circle"></i>
                        <span>About</span>
                    </a>
                    <a class="nav-item nav-link text-uppercase" href="~/todo">
                        <i class="fas fa-check-square"></i>
                        <span>Todos</span>
                    </a>
                    <a class="nav-item nav-link text-uppercase" href="~/counter">
                        <i class="fas fa-plus-circle"></i>
                        <span>Counter</span>
                    </a>
                    <a class="nav-item nav-link text-uppercase" href="~/fetch-data">
                        <i class="fas fa-toolbox"></i>
                        <span>Fetch data</span>
                    </a>
                </div>
                <div class="navbar-nav ml-auto">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                    }
                </div>
            </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>
    <footer class="footer border-top text-muted">
        <div class="container">
            &copy; 2021 - WebUI - <a asp-area="" asp-page="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <environment include="Development">
        <script defer src="~/lib/fortawesome/fontawesome-free/js/all.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
                asp-fallback-src="~/lib/fortawesome/fontawesome-free/js/all.min.js"
                integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF"
                crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>