<div class="nav-item" ngbDropdown *ngIf="isAuthenticated | async">
  <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
    <i class="fas fa-user-circle"></i>
  </a>
  <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" routerLink="/authentication/profile" title="Profile" translate
      >Hello {{ userName | async }}</a
    >
    <a
      class="dropdown-item"
      [routerLink]="['/authentication/logout']"
      [state]="{ local: true }"
      title="Logout"
      translate
      >Logout</a
    >
  </div>
</div>
<div class="nav-item" ngbDropdown *ngIf="!(isAuthenticated | async)">
  <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
    <i class="fas fa-user-circle"></i>
  </a>
  <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" routerLink="/authentication/register" title="Register" translate>Register</a>
    <a class="dropdown-item" routerLink="/authentication/login" title="Login" translate>Login</a>
  </div>
</div>
